/*
Student Name: Tak Kam Cheng
Student Id: 301429108
Date: 26 Sep 2024
File: project3 css
*/

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

header {
  padding: 20px 0;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

main {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

#story-container {
  margin: 20px 0;
  font-size: 1.25rem;
  line-height: 1.6;
}

button {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
