.services-container {
    padding: 40px;
    text-align: center;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
  }
  
  .service-box {
    width: 100%;
    height: auto;
    border: 2px solid #b5b0b0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  
  .service-image {
    width: 85%;
    height: 300px; 
    object-fit: cover; 
    margin-bottom: 10px; 
  }
  
  .service-description {
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
  }
  